* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth !important;
}
body {
  height: 100vh;
  background: var(--background);
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;

  --background: #333;
}

nav {
  position: fixed;
  overflow: hidden;
  z-index: 10;
  background: #222;
  width: 100%;
  user-select: none;
  height: 5vh;
}

nav ul {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  bottom: 0;
  top: 0;
  justify-content: space-between;
}

nav li {
  display: flex;
  align-items: center;
  list-style: none;
  white-space: nowrap;
  font-size: 1.2rem;
  /* position: absolute; */
  height: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.list-logo {
  /* flex: 8; */
  pointer-events: none;
  font-size: 1.5rem;
}

.list-item {
  /* flex: 1; */
  cursor: pointer;
}

.right {
  display: flex;
  width: fit-content;
  height: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

main {
  position: absolute;
  height: 95vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.markdown {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  padding: 2rem 2.5rem !important;
  margin-top: 5vh;
  background: rgba(0, 0, 0, 0.5);
  height: fit-content;
  width: 60%;
  max-width: 1280px;
}
.discord-md {
  position: relative;
  font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace !important;
  display: flex;
  margin-left: 0 !important;
  background-color: rgba(0, 0, 0, 0.5) !important;
  width: 100%;
  line-height: 1.4 !important;
  font-size: 0.85rem !important;
  flex-wrap: wrap;
}

ol {
  display: flex;
  flex-direction: column;
}

ol li {
  list-style: decimal !important;
  padding: 1.5rem;
}

h1 {
  display: flex;
  width: 100%;
  justify-content: flex-start !important;
  padding: 1.5rem;
  white-space: break-word;
  width: fit-content;
  /* overflow: auto !important; */
}

h2 {
  display: flex;
  width: 100%;
  justify-content: flex-start !important;
  padding: 1.5rem;
}

p {
  padding: 1.5rem;
}

@media screen and (max-width: 715px) {
  nav {
    height: 10vh;
  }
  .markdown {
    width: 100%;
  }
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: rgb(100, 100, 100);
}
